In [1]:
import numpy as np
import pandas as pd

In [2]:
movies=pd.read_csv('tmdb_5000_movies.csv')
credits=pd.read_csv('tmdb_5000_credits.csv')

In [3]:
movies.head(1)

,budget,genres,homepage,id,keywords,original_language,original_title,overview,popularity,production_companies,production_countries,release_date,revenue,runtime,spoken_languages,status,tagline,title,vote_average,vote_count
0,237000000,"[{""id"": 28, ""name"": ""Action""}, {""id"": 12, ""nam...",http://www.avatarmovie.com/,19995,"[{""id"": 1463, ""name"": ""culture clash""}, {""id"":...",en,Avatar,"In the 22nd century, a paraplegic Marine is di...",150.437577,"[{""name"": ""Ingenious Film Partners"", ""id"": 289...","[{""iso_3166_1"": ""US"", ""name"": ""United States o...",2009-12-10,2787965087,162.0,"[{""iso_639_1"": ""en"", ""name"": ""English""}, {""iso...",Released,Enter the World of Pandora.,Avatar,7.2,11800

In [4]:
credits.head(1)

,movie_id,title,cast,crew
0,19995,Avatar,"[{""cast_id"": 242, ""character"": ""Jake Sully"", ""...","[{""credit_id"": ""52fe48009251416c750aca23"", ""de..."

In [5]:
type(movies)
type(credits)

pandas.core.frame.DataFrame

In [6]:
movies = movies.merge(credits, on='title')

In [7]:
movies.shape

(4809, 23)

In [8]:
movies.head(1)

,budget,genres,homepage,id,keywords,original_language,original_title,overview,popularity,production_companies,...,runtime,spoken_languages,status,tagline,title,vote_average,vote_count,movie_id,cast,crew
0,237000000,"[{""id"": 28, ""name"": ""Action""}, {""id"": 12, ""nam...",http://www.avatarmovie.com/,19995,"[{""id"": 1463, ""name"": ""culture clash""}, {""id"":...",en,Avatar,"In the 22nd century, a paraplegic Marine is di...",150.437577,"[{""name"": ""Ingenious Film Partners"", ""id"": 289...",...,162.0,"[{""iso_639_1"": ""en"", ""name"": ""English""}, {""iso...",Released,Enter the World of Pandora.,Avatar,7.2,11800,19995,"[{""cast_id"": 242, ""character"": ""Jake Sully"", ""...","[{""credit_id"": ""52fe48009251416c750aca23"", ""de..."

In [9]:
movies['original_language'].value_counts()

original_language
en    4510
fr      70
es      32
zh      27
de      27
hi      19
ja      16
it      14
ko      12
cn      12
ru      11
pt       9
da       7
sv       5
nl       4
fa       4
th       3
he       3
id       2
cs       2
ta       2
ro       2
ar       2
te       1
hu       1
xx       1
af       1
is       1
tr       1
vi       1
pl       1
nb       1
ky       1
no       1
sl       1
ps       1
el       1
Name: count, dtype: int64

In [10]:
movies.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 4809 entries, 0 to 4808
Data columns (total 23 columns):
 #   Column                Non-Null Count  Dtype
---  ------                --------------  -----
 0   budget                4809 non-null   int64
 1   genres                4809 non-null   object
 2   homepage              1713 non-null   object
 3   id                    4809 non-null   int64
 4   keywords              4809 non-null   object
 5   original_language     4809 non-null   object
 6   original_title        4809 non-null   object
 7   overview              4806 non-null   object
 8   popularity            4809 non-null   float64
 9   production_companies  4809 non-null   object
 10  production_countries  4809 non-null   object
 11  release_date          4808 non-null   object
 12  revenue               4809 non-null   int64
 13  runtime               4807 non-null   float64
 14  spoken_languages      4809 non-null   object
 15  status                4809 non-null   object
 16  tagline               3965 non-null   object
 17  title                 4809 non-null   object
 18  vote_average          4809 non-null   float64
 19  vote_count            4809 non-null   int64
 20  movie_id              4809 non-null   int64
 21  cast                  4809 non-null   object
 22  crew                  4809 non-null   object
dtypes: float64(3), int64(5), object(15)
memory usage: 864.2+ KB

In [11]:
movies=movies[['movie_id','title','overview','genres','keywords','cast','crew']]

In [12]:
movies.head(1)

,movie_id,title,overview,genres,keywords,cast,crew
0,19995,Avatar,"In the 22nd century, a paraplegic Marine is di...","[{""id"": 28, ""name"": ""Action""}, {""id"": 12, ""nam...","[{""id"": 1463, ""name"": ""culture clash""}, {""id"":...","[{""cast_id"": 242, ""character"": ""Jake Sully"", ""...","[{""credit_id"": ""52fe48009251416c750aca23"", ""de..."

In [13]:
movies.isnull().sum()

movie_id    0
title       0
overview    3
genres      0
keywords    0
cast        0
crew        0
dtype: int64

In [14]:
movies=movies.dropna()

In [15]:
movies.isnull().sum()

movie_id    0
title       0
overview    0
genres      0
keywords    0
cast        0
crew        0
dtype: int64

In [16]:
movies.duplicated().sum()

np.int64(0)

In [17]:
movies.iloc[0]

movie_id                                                19995
title                                                  Avatar
overview    In the 22nd century, a paraplegic Marine is di...
genres      [{"id": 28, "name": "Action"}, {"id": 12, "nam...
keywords    [{"id": 1463, "name": "culture clash"}, {"id":...
cast        [{"cast_id": 242, "character": "Jake Sully", "...
crew        [{"credit_id": "52fe48009251416c750aca23", "de...
Name: 0, dtype: object

In [18]:
movies.iloc[0].genres

'[{"id": 28, "name": "Action"}, {"id": 12, "name": "Adventure"}, {"id": 14, "name": "Fantasy"}, {"id": 878, "name": "Science Fiction"}]'

In [ ]:
# '[{"id": 28, "name": "Action"}, {"id": 12, "name": "Adventure"}, {"id": 14, "name": "Fantasy"}, {"id": 878, "name": "Science Fiction"}]'
# ['Action,Adventure,'Fantasy','Scifi']

In [20]:
def convert(obj):
    L=[]
    for i in ast.literal_eval(obj):
        L.append(i['name'])
    return L

In [19]:
import ast
ast.literal_eval('[{"id": 28, "name": "Action"}, {"id": 12, "name": "Adventure"}, {"id": 14, "name": "Fantasy"}, {"id": 878, "name": "Science Fiction"}]')

[{'id': 28, 'name': 'Action'},
 {'id': 12, 'name': 'Adventure'},
 {'id': 14, 'name': 'Fantasy'},
 {'id': 878, 'name': 'Science Fiction'}]

In [21]:
movies['genres']=movies['genres'].apply(convert)

In [22]:
movies.head(1)

,movie_id,title,overview,genres,keywords,cast,crew
0,19995,Avatar,"In the 22nd century, a paraplegic Marine is di...","[Action, Adventure, Fantasy, Science Fiction]","[{""id"": 1463, ""name"": ""culture clash""}, {""id"":...","[{""cast_id"": 242, ""character"": ""Jake Sully"", ""...","[{""credit_id"": ""52fe48009251416c750aca23"", ""de..."

In [23]:
movies['keywords'] = movies['keywords'].apply(convert)

In [24]:
movies.head(1)

,movie_id,title,overview,genres,keywords,cast,crew
0,19995,Avatar,"In the 22nd century, a paraplegic Marine is di...","[Action, Adventure, Fantasy, Science Fiction]","[culture clash, future, space war, space colon...","[{""cast_id"": 242, ""character"": ""Jake Sully"", ""...","[{""credit_id"": ""52fe48009251416c750aca23"", ""de..."

In [25]:
def convert3(obj):
    L1 = []
    counter=0
    for i in ast.literal_eval(obj):
        if counter !=3:
            L1.append(i['name'])
            counter+=1
        else:
            break
    return L1

In [26]:
movies['cast'] = movies['cast'].apply(convert)

In [27]:
movies.head(1)

,movie_id,title,overview,genres,keywords,cast,crew
0,19995,Avatar,"In the 22nd century, a paraplegic Marine is di...","[Action, Adventure, Fantasy, Science Fiction]","[culture clash, future, space war, space colon...","[Sam Worthington, Zoe Saldana, Sigourney Weave...","[{""credit_id"": ""52fe48009251416c750aca23"", ""de..."

In [30]:
# movies['crew'][0]
def fetch_name(obj):
    L2=[]
    for i in ast.literal_eval(obj):
        if i['job']=='Director':
            L2.append(i['name'])
            break
    return L2

In [31]:
movies['crew'].apply(fetch_name)

0           [James Cameron]
1          [Gore Verbinski]
2              [Sam Mendes]
3       [Christopher Nolan]
4          [Andrew Stanton]
               ...
4804     [Robert Rodriguez]
4805         [Edward Burns]
4806          [Scott Smith]
4807          [Daniel Hsia]
4808     [Brian Herzlinger]
Name: crew, Length: 4806, dtype: object

In [32]:
movies['crew']=movies['crew'].apply(fetch_name)

In [33]:
movies.head(1)

,movie_id,title,overview,genres,keywords,cast,crew
0,19995,Avatar,"In the 22nd century, a paraplegic Marine is di...","[Action, Adventure, Fantasy, Science Fiction]","[culture clash, future, space war, space colon...","[Sam Worthington, Zoe Saldana, Sigourney Weave...",[James Cameron]

In [34]:
movies['overview'][0]

'In the 22nd century, a paraplegic Marine is dispatched to the moon Pandora on a unique mission, but becomes torn between following orders and protecting an alien civilization.'

In [35]:
movies['overview'].apply(lambda x:x.split())

0       [In, the, 22nd, century,, a, paraplegic, Marin...
1       [Captain, Barbossa,, long, believed, to, be, d...
2       [A, cryptic, message, from, Bond’s, past, send...
3       [Following, the, death, of, District, Attorney...
4       [John, Carter, is, a, war-weary,, former, mili...
                              ...
4804    [El, Mariachi, just, wants, to, play, his, gui...
4805    [A, newlywed, couple's, honeymoon, is, upended...
4806    ["Signed,, Sealed,, Delivered", introduces, a,...
4807    [When, ambitious, New, York, attorney, Sam, is...
4808    [Ever, since, the, second, grade, when, he, fi...
Name: overview, Length: 4806, dtype: object

In [36]:
movies['overview']=movies['overview'].apply(lambda x:x.split())

In [37]:
movies.head()

,movie_id,title,overview,genres,keywords,cast,crew
0,19995,Avatar,"[In, the, 22nd, century,, a, paraplegic, Marin...","[Action, Adventure, Fantasy, Science Fiction]","[culture clash, future, space war, space colon...","[Sam Worthington, Zoe Saldana, Sigourney Weave...",[James Cameron]
1,285,Pirates of the Caribbean: At World's End,"[Captain, Barbossa,, long, believed, to, be, d...","[Adventure, Fantasy, Action]","[ocean, drug abuse, exotic island, east india ...","[Johnny Depp, Orlando Bloom, Keira Knightley, ...",[Gore Verbinski]
2,206647,Spectre,"[A, cryptic, message, from, Bond’s, past, send...","[Action, Adventure, Crime]","[spy, based on novel, secret agent, sequel, mi...","[Daniel Craig, Christoph Waltz, Léa Seydoux, R...",[Sam Mendes]
3,49026,The Dark Knight Rises,"[Following, the, death, of, District, Attorney...","[Action, Crime, Drama, Thriller]","[dc comics, crime fighter, terrorist, secret i...","[Christian Bale, Michael Caine, Gary Oldman, A...",[Christopher Nolan]
4,49529,John Carter,"[John, Carter, is, a, war-weary,, former, mili...","[Action, Adventure, Science Fiction]","[based on novel, mars, medallion, space travel...","[Taylor Kitsch, Lynn Collins, Samantha Morton,...",[Andrew Stanton]

In [39]:
movies['genres'].apply(lambda x:[i.replace(" ","") for  i in x])

0       [Action, Adventure, Fantasy, ScienceFiction]
1                       [Adventure, Fantasy, Action]
2                         [Action, Adventure, Crime]
3                   [Action, Crime, Drama, Thriller]
4                [Action, Adventure, ScienceFiction]
                            ...
4804                       [Action, Crime, Thriller]
4805                               [Comedy, Romance]
4806               [Comedy, Drama, Romance, TVMovie]
4807                                              []
4808                                   [Documentary]
Name: genres, Length: 4806, dtype: object

In [41]:
movies['genres']=movies['genres'].apply(lambda x:[i.replace(" ","") for  i in x])
movies['keywords']=movies['keywords'].apply(lambda x:[i.replace(" ","") for  i in x])
movies['cast']=movies['cast'].apply(lambda x:[i.replace(" ","") for  i in x])
movies['crew']=movies['crew'].apply(lambda x:[i.replace(" ","") for  i in x])

In [42]:
movies.head()

,movie_id,title,overview,genres,keywords,cast,crew
0,19995,Avatar,"[In, the, 22nd, century,, a, paraplegic, Marin...","[Action, Adventure, Fantasy, ScienceFiction]","[cultureclash, future, spacewar, spacecolony, ...","[SamWorthington, ZoeSaldana, SigourneyWeaver, ...",[JamesCameron]
1,285,Pirates of the Caribbean: At World's End,"[Captain, Barbossa,, long, believed, to, be, d...","[Adventure, Fantasy, Action]","[ocean, drugabuse, exoticisland, eastindiatrad...","[JohnnyDepp, OrlandoBloom, KeiraKnightley, Ste...",[GoreVerbinski]
2,206647,Spectre,"[A, cryptic, message, from, Bond’s, past, send...","[Action, Adventure, Crime]","[spy, basedonnovel, secretagent, sequel, mi6, ...","[DanielCraig, ChristophWaltz, LéaSeydoux, Ralp...",[SamMendes]
3,49026,The Dark Knight Rises,"[Following, the, death, of, District, Attorney...","[Action, Crime, Drama, Thriller]","[dccomics, crimefighter, terrorist, secretiden...","[ChristianBale, MichaelCaine, GaryOldman, Anne...",[ChristopherNolan]
4,49529,John Carter,"[John, Carter, is, a, war-weary,, former, mili...","[Action, Adventure, ScienceFiction]","[basedonnovel, mars, medallion, spacetravel, p...","[TaylorKitsch, LynnCollins, SamanthaMorton, Wi...",[AndrewStanton]

In [43]:
movies['tags']=movies['overview']+movies['genres']+movies['keywords']+movies['cast']+movies['crew']

In [47]:
new_df = movies[['movie_id','title','tags']]

In [48]:
new_df

,movie_id,title,tags
0,19995,Avatar,"[In, the, 22nd, century,, a, paraplegic, Marin..."
1,285,Pirates of the Caribbean: At World's End,"[Captain, Barbossa,, long, believed, to, be, d..."
2,206647,Spectre,"[A, cryptic, message, from, Bond’s, past, send..."
3,49026,The Dark Knight Rises,"[Following, the, death, of, District, Attorney..."
4,49529,John Carter,"[John, Carter, is, a, war-weary,, former, mili..."
...,...,...,...
4804,9367,El Mariachi,"[El, Mariachi, just, wants, to, play, his, gui..."
4805,72766,Newlyweds,"[A, newlywed, couple's, honeymoon, is, upended..."
4806,231617,"Signed, Sealed, Delivered","[""Signed,, Sealed,, Delivered"", introduces, a,..."
4807,126186,Shanghai Calling,"[When, ambitious, New, York, attorney, Sam, is..."
4808,25975,My Date with Drew,"[Ever, since, the, second, grade, when, he, fi..."

In [49]:
new_df['tags']=new_df['tags'].apply(lambda x:" ".join(x))

C:\Users\shari\AppData\Local\Temp\ipykernel_2884\487797088.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  new_df['tags']=new_df['tags'].apply(lambda x:" ".join(x))

In [50]:
new_df.head()

,movie_id,title,tags
0,19995,Avatar,"In the 22nd century, a paraplegic Marine is di..."
1,285,Pirates of the Caribbean: At World's End,"Captain Barbossa, long believed to be dead, ha..."
2,206647,Spectre,A cryptic message from Bond’s past sends him o...
3,49026,The Dark Knight Rises,Following the death of District Attorney Harve...
4,49529,John Carter,"John Carter is a war-weary, former military ca..."

In [73]:
pip install nltk

Defaulting to user installation because normal site-packages is not writeableNote: you may need to restart the kernel to use updated packages.

Requirement already satisfied: nltk in c:\programdata\anaconda3\lib\site-packages (3.9.1)
Requirement already satisfied: click in c:\programdata\anaconda3\lib\site-packages (from nltk) (8.1.8)
Requirement already satisfied: joblib in c:\programdata\anaconda3\lib\site-packages (from nltk) (1.4.2)
Requirement already satisfied: regex>=2021.8.3 in c:\programdata\anaconda3\lib\site-packages (from nltk) (2024.11.6)
Requirement already satisfied: tqdm in c:\programdata\anaconda3\lib\site-packages (from nltk) (4.67.1)
Requirement already satisfied: colorama in c:\programdata\anaconda3\lib\site-packages (from click->nltk) (0.4.6)

In [75]:
import nltk

In [81]:
from nltk.stem.porter import PorterStemmer
ps = PorterStemmer()

In [82]:
def stem(text):
    y=[]
    
    for i in text.split():
        y.append(ps.stem(i))

    return " ".join(y)

In [86]:
new_df['tags']=new_df['tags'].apply(stem)

C:\Users\shari\AppData\Local\Temp\ipykernel_2884\3514595201.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  new_df['tags']=new_df['tags'].apply(stem)

In [87]:
new_df['tags'][0]

'in the 22nd century, a parapleg marin is dispatch to the moon pandora on a uniqu mission, but becom torn between follow order and protect an alien civilization. action adventur fantasi sciencefict cultureclash futur spacewar spacecoloni societi spacetravel futurist romanc space alien tribe alienplanet cgi marin soldier battl loveaffair antiwar powerrel mindandsoul 3d samworthington zoesaldana sigourneyweav stephenlang michellerodriguez giovanniribisi joeldavidmoor cchpounder wesstudi lazalonso dileeprao mattgerald seananthonymoran jasonwhyt scottlawr kellykilgour jamespatrickpitt seanpatrickmurphi peterdillon kevindorman kelsonhenderson davidvanhorn jacobtomuri michaelblain-rozgay joncurri lukehawk woodyschultz petermensah soniaye jahnelcurfman ilramchoi kylawarren lisaroumain debrawilson chrismala taylorkibbi jodielandau julielamm cullenb.madden josephbradymadden frankietorr austinwilson sarawilson tamicawashington-mil lucybri nathanmeist gerryblair matthewchamberlain paulyat wraywilson jamesgaylyn melvinlenoclarkiii carvonfutrel brandonjelk micahmoch hanniyahmuhammad christophernolen christaoliv aprilmariethoma bravitaa.threatt colinbleasdal mikebodnar mattclayton nicoledionn jamieharrison allanhenri anthonyingrub ashleyjefferi deanknowsley josephmika-hunt terrynotari kaipantano loganpithy stuartpollock raja garethruck rhiansheehan t.j.storm jodietaylor aliciavela-bailey richardwhitesid nikiezambo julenerene jamescameron'

In [88]:
new_df['tags']=new_df['tags'].apply(lambda x:x.lower())

C:\Users\shari\AppData\Local\Temp\ipykernel_2884\4224080999.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  new_df['tags']=new_df['tags'].apply(lambda x:x.lower())

In [89]:
new_df['tags'][0]

'in the 22nd century, a parapleg marin is dispatch to the moon pandora on a uniqu mission, but becom torn between follow order and protect an alien civilization. action adventur fantasi sciencefict cultureclash futur spacewar spacecoloni societi spacetravel futurist romanc space alien tribe alienplanet cgi marin soldier battl loveaffair antiwar powerrel mindandsoul 3d samworthington zoesaldana sigourneyweav stephenlang michellerodriguez giovanniribisi joeldavidmoor cchpounder wesstudi lazalonso dileeprao mattgerald seananthonymoran jasonwhyt scottlawr kellykilgour jamespatrickpitt seanpatrickmurphi peterdillon kevindorman kelsonhenderson davidvanhorn jacobtomuri michaelblain-rozgay joncurri lukehawk woodyschultz petermensah soniaye jahnelcurfman ilramchoi kylawarren lisaroumain debrawilson chrismala taylorkibbi jodielandau julielamm cullenb.madden josephbradymadden frankietorr austinwilson sarawilson tamicawashington-mil lucybri nathanmeist gerryblair matthewchamberlain paulyat wraywilson jamesgaylyn melvinlenoclarkiii carvonfutrel brandonjelk micahmoch hanniyahmuhammad christophernolen christaoliv aprilmariethoma bravitaa.threatt colinbleasdal mikebodnar mattclayton nicoledionn jamieharrison allanhenri anthonyingrub ashleyjefferi deanknowsley josephmika-hunt terrynotari kaipantano loganpithy stuartpollock raja garethruck rhiansheehan t.j.storm jodietaylor aliciavela-bailey richardwhitesid nikiezambo julenerene jamescameron'

In [90]:
from sklearn.feature_extraction.text import CountVectorizer
cv = CountVectorizer(max_features=5000,stop_words='english')

In [91]:
cv.fit_transform(new_df['tags']).toarray()

array([[0, 0, 0, ..., 0, 0, 0],
       [0, 0, 0, ..., 0, 0, 0],
       [0, 0, 0, ..., 0, 0, 0],
       ...,
       [0, 0, 0, ..., 0, 0, 0],
       [0, 0, 0, ..., 0, 0, 0],
       [0, 0, 0, ..., 0, 0, 0]])

In [92]:
vectors = cv.fit_transform(new_df['tags']).toarray()

In [93]:
vectors.shape

(4806, 5000)

In [94]:
vectors[0]

array([0, 0, 0, ..., 0, 0, 0])

In [95]:
cv.get_feature_names_out()[1:500]

array(['007', '10', '100', '11', '12', '13', '14', '15', '16', '17', '18',
       '18th', '19', '1910', '1930', '1940', '1950', '1960', '1960s',
       '1970', '1970s', '1980', '1990', '19th', '19thcenturi', '20',
       '20th', '24', '25', '30', '3d', '40', '50', '60', '70', 'aaron',
       'aaroneckhart', 'aarontaylor', 'aaronyoo', 'aasifmandvi',
       'abandon', 'abduct', 'abigailbreslin', 'abil', 'abl', 'abov',
       'abus', 'academi', 'accept', 'access', 'accid', 'accident',
       'accompani', 'accomplish', 'account', 'accus', 'ace', 'achiev',
       'act', 'action', 'activ', 'activist', 'actor', 'actress', 'actual',
       'adam', 'adambrodi', 'adamgoldberg', 'adamlefevr', 'adamsandl',
       'adamscott', 'adamshankman', 'adapt', 'add', 'addict',
       'adewaleakinnuoye', 'adjust', 'admir', 'admit', 'adolesc', 'adopt',
       'ador', 'adrianmartinez', 'adrienbrodi', 'adult', 'adulteri',
       'adulthood', 'advanc', 'adventur', 'adventure', 'advertis',
       'advic', 'affair', 'affect', 'afghanistan', 'africa', 'african',
       'aftercreditssting', 'afterlif', 'aftermath', 'ag', 'agbaj', 'age',
       'agediffer', 'agency', 'agenda', 'agent', 'aggress', 'ago', 'agre',
       'ahead', 'aid', 'aidanquinn', 'ail', 'aim', 'air', 'airplan',
       'airport', 'al', 'alanalda', 'alanarkin', 'alancum', 'alanrickman',
       'alantudyk', 'alaska', 'albert', 'albertbrook', 'albertfinney',
       'alcohol', 'alecbaldwin', 'alecguin', 'alessandronivola', 'alex',
       'alexandersiddig', 'alexanderskarsgård', 'alexapenavega',
       'alexborstein', 'alexisbledel', 'alexkendrick', 'alfredhitchcock',
       'alfredmolina', 'alfrewoodard', 'ali', 'aliashawkat', 'alic',
       'alice', 'alicebraga', 'alicedrummond', 'aliciasilverston',
       'aliciawitt', 'alien', 'alieninvas', 'alienlife', 'alilart',
       'alisonlohman', 'alisonpil', 'aliv', 'alive', 'allancordun',
       'allen', 'allencovert', 'alleong', 'alli', 'allianc',
       'allisonjanney', 'allow', 'alon', 'alongsid', 'alpacino',
       'alreadi', 'alter', 'altern', 'alway', 'alzheimer', 'amanda',
       'amandapeet', 'amandaseyfri', 'amateur', 'amaz', 'ambassador',
       'amberheard', 'ambit', 'ambiti', 'ambul', 'ambush', 'america',
       'american', 'americanfootbal', 'amid', 'amidst', 'amnesia', 'amp',
       'amus', 'amyadam', 'amypoehl', 'amyryan', 'amysedari', 'amysmart',
       'anagastey', 'analyst', 'anarchiccomedi', 'ancient', 'anderson',
       'andi', 'andiemacdowel', 'andreamartin', 'andrebraugh', 'andrew',
       'andrewdali', 'android', 'andydick', 'andygarcía', 'andyricht',
       'andysamberg', 'andyserki', 'angel', 'angelabassett', 'angeles',
       'angelinajoli', 'angelo', 'anger', 'angri', 'ani', 'anim',
       'animalattack', 'animalhorror', 'anjelicahuston', 'ann', 'anna',
       'annafari', 'annakendrick', 'annalevin', 'annapaquin',
       'annasophiarobb', 'anndowd', 'anne', 'annebancroft', 'annefletch',
       'annehathaway', 'annehech', 'annemoss', 'annetteben', 'anni',
       'annie', 'annikaperga', 'announc', 'annual', 'anonym', 'anoth',
       'answer', 'ant', 'antholog', 'anthoni', 'anthonyanderson',
       'anthonyhopkin', 'anthonylapaglia', 'anthonymacki',
       'anthropomorph', 'anti', 'antihero', 'antonicoron',
       'antoniobandera', 'antonyelchin', 'anyon', 'anyth', 'apart',
       'apartheid', 'apartment', 'ape', 'apocalyps', 'apocalypt', 'appar',
       'appear', 'appoint', 'appreci', 'apprentic', 'approach', 'april',
       'arab', 'archaeologist', 'architect', 'arci', 'arctic', 'area',
       'arena', 'arielwint', 'aris', 'aristocrat', 'arm', 'armi',
       'arminmueller', 'armsdeal', 'armstrong', 'army', 'arnold',
       'arnoldschwarzenegg', 'arrang', 'arrest', 'arriv', 'art', 'arthur',
       'arthurj', 'arthurtovey', 'artificialintellig', 'artist', 'ash',
       'ashley', 'ashleyjudd', 'ashtonkutch', 'asia', 'ask', 'aspir',
       'assassin', 'assault', 'assign', 'assist', 'assistant', 'associ',
       'assum', 'asteroid', 'astronaut', 'asylum', 'athlet', 'atomicbomb',
       'attack', 'attempt', 'attend', 'attent', 'attitud', 'attorney',
       'attract', 'audienc', 'audit', 'august', 'aunjanueelli', 'aunt',
       'austin', 'australia', 'australian', 'author', 'autism', 'auto',
       'avaacr', 'aveng', 'avoid', 'await', 'awaken', 'award', 'away',
       'awri', 'awry', 'azizansari', 'babe', 'babi', 'baby', 'bachelor',
       'backdrop', 'background', 'bad', 'bag', 'bahama', 'bail', 'bailey',
       'balanc', 'ball', 'ballet', 'band', 'banish', 'bank', 'banker',
       'bankrobberi', 'baptist', 'bar', 'bare', 'bargain', 'barn',
       'barney', 'barri', 'barrylevinson', 'barrypepp',
       'barryshabakahenley', 'bas', 'base', 'basebal', 'basedoncomicbook',
       'basedonnovel', 'basedonplay', 'basedonstagemus', 'basedontrueev',
       'basedontruestori', 'basedontvseri', 'basedonvideogam',
       'basedonyoungadultnovel', 'basement', 'basketbal', 'batman',
       'battl', 'battle', 'battlefield', 'bay', 'bdwong', 'beach', 'bear',
       'beast', 'beat', 'beaubridg', 'beauti', 'beautiful',
       'beautifulwoman', 'beauty', 'becam', 'becaus', 'beccasweitz',
       'becom', 'becominganadult', 'bed', 'bedroom', 'beer', 'befor',
       'befriend', 'began', 'begin', 'behavior', 'belief', 'believ',
       'bell', 'bella', 'belong', 'belov', 'ben', 'benaffleck',
       'benchaplin', 'bend', 'benedictcumberbatch', 'benfost',
       'bengazzara', 'beniciodeltoro', 'benjamin', 'benjaminbratt',
       'benkingsley', 'benmendelsohn', 'bennett', 'benstil', 'bent',
       'benwhishaw', 'berlin', 'bernardhil', 'bernardle', 'berniemac',
       'best', 'bestfriend', 'bet', 'beth', 'bethgrant', 'betray',
       'bettemidl', 'better', 'betti', 'beverli', 'bibl', 'big',
       'biggest', 'biker', 'billcamp', 'billcobb', 'billduk', 'billhad',
       'billi', 'billionair', 'billmoseley', 'billmurray', 'billnighi',
       'billnunn', 'billpaxton', 'billpullman', 'billybobthornton',
       'billyburk', 'billyconnolli', 'billycrudup', 'billycryst',
       'billydeewilliam', 'billyslaught', 'billywest', 'billyzan',
       'biographi', 'bird', 'birth', 'birthday', 'bisexu', 'bishop',
       'bit', 'bite', 'bitter', 'bizarr', 'black', 'blackmag',
       'blackmail', 'blackpeopl', 'blade'], dtype=object)

In [96]:
len(cv.get_feature_names_out())

5000

In [97]:
ps.stem('danced')

'danc'

In [98]:
stem('in the 22nd century, a paraplegic marine is dispatched to the moon pandora on a unique mission, but becomes torn between following orders and protecting an alien civilization. action adventure fantasy sciencefiction cultureclash future spacewar spacecolony society spacetravel futuristic romance space alien tribe alienplanet cgi marine soldier battle loveaffair antiwar powerrelations mindandsoul 3d samworthington zoesaldana sigourneyweaver stephenlang michellerodriguez giovanniribisi joeldavidmoore cchpounder wesstudi lazalonso dileeprao mattgerald seananthonymoran jasonwhyte scottlawrence kellykilgour jamespatrickpitt seanpatrickmurphy peterdillon kevindorman kelsonhenderson davidvanhorn jacobtomuri michaelblain-rozgay joncurry lukehawker woodyschultz petermensah soniayee jahnelcurfman ilramchoi kylawarren lisaroumain debrawilson chrismala taylorkibby jodielandau julielamm cullenb.madden josephbradymadden frankietorres austinwilson sarawilson tamicawashington-miller lucybriant nathanmeister gerryblair matthewchamberlain paulyates wraywilson jamesgaylyn melvinlenoclarkiii carvonfutrell brandonjelkes micahmoch hanniyahmuhammad christophernolen christaoliver aprilmariethomas bravitaa.threatt colinbleasdale mikebodnar mattclayton nicoledionne jamieharrison allanhenry anthonyingruber ashleyjeffery deanknowsley josephmika-hunt terrynotary kaipantano loganpithyou stuartpollock raja garethruck rhiansheehan t.j.storm jodietaylor aliciavela-bailey richardwhiteside nikiezambo julenerenee jamescameron')

'in the 22nd century, a parapleg marin is dispatch to the moon pandora on a uniqu mission, but becom torn between follow order and protect an alien civilization. action adventur fantasi sciencefict cultureclash futur spacewar spacecoloni societi spacetravel futurist romanc space alien tribe alienplanet cgi marin soldier battl loveaffair antiwar powerrel mindandsoul 3d samworthington zoesaldana sigourneyweav stephenlang michellerodriguez giovanniribisi joeldavidmoor cchpounder wesstudi lazalonso dileeprao mattgerald seananthonymoran jasonwhyt scottlawr kellykilgour jamespatrickpitt seanpatrickmurphi peterdillon kevindorman kelsonhenderson davidvanhorn jacobtomuri michaelblain-rozgay joncurri lukehawk woodyschultz petermensah soniaye jahnelcurfman ilramchoi kylawarren lisaroumain debrawilson chrismala taylorkibbi jodielandau julielamm cullenb.madden josephbradymadden frankietorr austinwilson sarawilson tamicawashington-mil lucybri nathanmeist gerryblair matthewchamberlain paulyat wraywilson jamesgaylyn melvinlenoclarkiii carvonfutrel brandonjelk micahmoch hanniyahmuhammad christophernolen christaoliv aprilmariethoma bravitaa.threatt colinbleasdal mikebodnar mattclayton nicoledionn jamieharrison allanhenri anthonyingrub ashleyjefferi deanknowsley josephmika-hunt terrynotari kaipantano loganpithy stuartpollock raja garethruck rhiansheehan t.j.storm jodietaylor aliciavela-bailey richardwhitesid nikiezambo julenerene jamescameron'

In [99]:
from sklearn.metrics.pairwise import cosine_similarity

In [100]:
cosine_similarity(vectors)

array([[1.        , 0.06745406, 0.07733089, ..., 0.04313311, 0.        ,
        0.        ],
       [0.06745406, 1.        , 0.07476672, ..., 0.02085144, 0.        ,
        0.02331262],
       [0.07733089, 0.07476672, 1.        , ..., 0.02390457, 0.        ,
        0.        ],
       ...,
       [0.04313311, 0.02085144, 0.02390457, ..., 1.        , 0.04264014,
        0.04472136],
       [0.        , 0.        , 0.        , ..., 0.04264014, 1.        ,
        0.09534626],
       [0.        , 0.02331262, 0.        , ..., 0.04472136, 0.09534626,
        1.        ]])

In [101]:
cosine_similarity(vectors).shape

(4806, 4806)

In [102]:
similarity = cosine_similarity(vectors)

In [105]:
similarity[1]

array([0.06745406, 1.        , 0.07476672, ..., 0.02085144, 0.        ,
       0.02331262])

In [112]:
sorted(list(enumerate(similarity[0])),reverse=True,key=lambda x:x[1])[1:6]

[(1214, np.float64(0.27147375925728073)),
 (582, np.float64(0.2362497692874473)),
 (2329, np.float64(0.23489478196744007)),
 (507, np.float64(0.22874785549890703)),
 (3728, np.float64(0.22758963106682426))]

In [121]:
def recommend(movie):
    movie_index=new_df[new_df['title']==movie].index[0]
    distances = similarity[movie_index]
    movies_list=sorted(list(enumerate(distances)),reverse=True,key=lambda x:x[1])[1:6]

    for i in movies_list:
        print(new_df.iloc[i[0]].title)

In [109]:
# new_df[new_df['title']=='Batman Begins'].index[0]

np.int64(119)

In [123]:
recommend('Batman Begins')

The Dark Knight
Batman
The Dark Knight Rises
Batman
Rockaway

In [125]:
new_df.iloc[1214].title

'Aliens vs Predator: Requiem'

In [124]:

import pickle

# 'movies_dict' is your processed dataframe
# We convert it to a dictionary first to make it easier to load later
pickle.dump(movies.to_dict(), open('movie_dict.pkl', 'wb'))

# 'similarity' is the matrix you calculated using Cosine Similarity
pickle.dump(similarity, open('similarity.pkl', 'wb'))